<div class="card-trip ct-dark-text">




  <div class="card-trip-infos">
    <div>
      <h2> <%= listing.brand %> <%= listing.name %> </h2>
      <h6 class="ct-grey-text"> <%= listing.production_year %> </h6>
      <h6 class="margin-zero mt-3 ct-grey-text"> Booked Dates </h6>
      <h2> 28.02.20 - 01.03.20</h2>
      <h6 class="margin-zero mt-3 ct-grey-text"> Total Price</h6>
      <h2 class="margin-zero"> 3000€ </h2>


    </div>
    <!-- <h2 class="card-trip-pricing"><%= listing.price %>€/day</h2> -->
  </div>
</div>
