<div class="card-trip border rounded">
  <% if listing.photos.attached? %>
    <%= cl_image_tag listing.photos[0].key %>
  <% end %>

  <div class="card-trip-infos">
    <div>
      <h2><%= listing.brand %></h2>
      <p><%= listing.name %></p>
    </div>
    <h2 class="card-trip-pricing"><%= listing.price %>€/day</h2>
  </div>
</div>
