<div class="card-trip">
  <img src="https://images.unsplash.com/photo-1516515429572-bf32372f2409?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=889&q=80" />
  <div class="card-trip-infos">
    <div>
      <h2><%= listing.name %></h2>
      <p><%= listing.user.email %></p>
    </div>
    <h2 class="card-trip-pricing"><%= listing.prices %></h2>
  </div>
</div>
