<div class="white-background">
<div class="dark ">
  <%= render 'components/navbar'%>
</div>
<div class="container mt-4">
  <div class="cards">
    <% @listings.each do |listing| %>
      <%= link_to listing_path(listing) do %>
        <%= render 'components/listing-card', listing: listing %>
      <% end %>
    <% end %>
  </div>
</div>
</div>
