<div class="dark">
  <%= render 'components/navbar' %>
</div>
<div class="container d-flex align-items-center justify-content-center" style="height: 85vh;">
  <div class="new-form w-50">
    <h2><strong>Create Your Car</strong></h2>
    <%= render 'components/new-listing-form', listing: @listing %>
  </div>
</div>
