<div class="dark">
  <%= render 'components/navbar' %>
</div>
<div class="container d-flex align-items-center justify-content-center" style="height: 85vh;">
  <div class="search-form w-50">
    <%= render 'components/new-listing-form', listing: @listing %>
  </div>
</div>
