<h1>Title</h1>

<h2><%= @listing.brand%></h2>

<h1>Description</h1>
<h2><%= @listing.production_year%></h2>

<h2>start date</h2>
<h2><%= @listing.start_date%></h2>

<h2>end date</h2>
<h2><%= @listing.end_date%></h2>

