<div class = 'banner' style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path('background.jpg') %>');" >
  <%= render 'components/navbar' %>
  <%= render 'components/form_homepage' %>
</div>



