.tales{
  width: 100%;
}

.carousel-inner{
  width: 100% !important;
  max-height: 575px !important;
}
.banner-carrousel {
  height: 300px!important;
}
.carousel-item .active {
  height: 300px;
}
.carousel-item {
  height: 300px;
}
