// Please, to make a differentiation with Bootstrap classes, use the
// ct-prefix before the class name.

.ct-letter-spacing-1 {
  letter-spacing: 1px;
}

.ct-letter-spacing-2 {
  letter-spacing: 2px;
}

.margin-zero {
  margin: 0;
}

