.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  height: 51px;
  color: white;
  position: sticky;
  top: 0;
  font-size: 25px;
}

.dark{
  background: rgb(30,30,30)
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.Pimped-Rides {
  height: 13px;
  color: white;
}
.log-in {
  position: relative;
  right: 12px;
}



.end-date {
  position: relative;
  left: 175px;
  bottom: 106px;
}
