.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  height: 51px;
  color: white;
  position: sticky;
  top: 0;
}

.dark{
  background: rgb(30,30,30)
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.Pimped-Rides {
  height: 13px;
  color: white;
}
.log-in {
  position: relative;
  right: 12px;
}
.form-position {
    position: relative;
    right: 400px;
}

.form-group {
  padding: 1px;
}
.end-date {
  position: relative;
  left: 175px;
  bottom: 106px;
}
.search-form {
  padding: 25px;
  bottom: 36px;
}
.search-value {
  position: relative;
  bottom: 115px;
}
.container-home {
  height: 100vh;
}
.hasDatepicker {
  position: relative;
  top: 1px;
  font-size: 11px;
}
